/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	height: 200vh;
	background-color: #00110c;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
	display: flex;
	align-items: center;
	height: 34px;
	background-color: #04120c;
	color: #b8e1ee;
	justify-content: space-between;
}
html {
	scroll-behavior: smooth;
}
a {
	color: unset;
	text-decoration: unset;
}
.button-in-header {
	padding: 10px;
	font-weight: 700;
	cursor: pointer;
	height: 34px;
	box-sizing: border-box;
}
.button-in-header:hover {
	background-color: #127374;
}
#right-buttons {
	display: flex;
}
#active-menu {
	background-color: #013a3b;
}
#main-image {
	min-width: 1000px;
	/* 이미지 최소 크기 고정 (안하면 계속 줄어듦.) */
}
#image-wrapper {
	overflow: hidden;
	/* 이미지가 너무 커서 스크롤이 생기지 않도록 함. */
	display: flex;
	justify-content: center;
}
#document-title {
	color: #b8e1ee;
	margin-bottom: 40px;
	font-size: 170%;
	font-weight: 300;
	letter-spacing: 10px;
}
#main-content-wrapper {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#mountain-tag-wrapper {
	display: flex;
	font-size: 18px;
	font-weight: 700;
	gap: 40px;
}
.mountain-content-list {
	width: 325px;
	justify-content: center;
	height: 32px;
	display: flex;
	align-items: center;
	background-color: #b8e1ee;
	color: #04120c;
}
.mountain-content-wrapper {
	display: flex;
	gap: 40px;
	flex-direction: column;
}
